.search_list {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie_list {
    display: flex;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
}

.movie {
    display: inline-block;
    margin-right: 10px;
    word-wrap: break-word;
}